# METHODOLOGIES I
## Clustering Module
### Data Wrangling Exercises

In [1]:
# Import all required libraries and modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import prepare
import acquire
from acquire import missing_rows_count_percentage, zillow_missing_columns_rows_percent_cols
from prepare import cols_nulls, rows_nulls

from wrangle_zillow import handle_missing_values, single_family_properties
import evaluate

## Acquire & Summarize

In [3]:
# call the acquire function

zillow = acquire.get_zillow()

Status: Acquiring data from cached csv file..

In [4]:
# Zillow df
zillow.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,typeconstructiondesc,storydesc,propertylandusedesc,heatingorsystemdesc,buildingclassdesc,architecturalstyledesc,airconditioningdesc
0,787,17173851,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,6.111004e+13,0.088469,2017-01-03,NaN,NaN,Single Family Residential,NaN,NaN,NaN,NaN
1,1702,10821119,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,6.037131e+13,0.025629,2017-01-03,NaN,NaN,Single Family Residential,Central,NaN,NaN,NaN
2,1853,10859051,1.0,NaN,NaN,3.0,2.0,NaN,7.0,3.0,...,6.037141e+13,0.026735,2017-01-03,NaN,NaN,Condominium,Central,NaN,NaN,Central
3,2412,11007640,1.0,NaN,NaN,2.0,3.0,NaN,8.0,2.0,...,6.037106e+13,0.020360,2017-01-12,NaN,NaN,Single Family Residential,Central,NaN,NaN,Central
4,3770,11457850,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037276e+13,0.054233,2017-01-11,NaN,NaN,Single Family Residential,Floor/Wall,NaN,NaN,NaN

In [7]:
zillow = prepare.prepare_zillow()
zillow

Status: Acquiring data from cached csv file..

,id,parcel_id,air_cond_id,architect_style_id,basement_sqft,bath_count,bed_count,building_class_id,building_quality_id,calc_bath_n_bed,...,census_tract_and_block,log_error,transaction_date,construction_desc,story_desc,property_land_use_desc,heating_or_system_desc,bldg_class_desc,architect_style_desc,air_con_desc
0,787,17173851,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,6.111004e+13,0.088469,2017-01-03,NaN,NaN,Single Family Residential,NaN,NaN,NaN,NaN
1,1702,10821119,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,6.037131e+13,0.025629,2017-01-03,NaN,NaN,Single Family Residential,Central,NaN,NaN,NaN
2,1853,10859051,1.0,NaN,NaN,3.0,2.0,NaN,7.0,3.0,...,6.037141e+13,0.026735,2017-01-03,NaN,NaN,Condominium,Central,NaN,NaN,Central
3,2412,11007640,1.0,NaN,NaN,2.0,3.0,NaN,8.0,2.0,...,6.037106e+13,0.020360,2017-01-12,NaN,NaN,Single Family Residential,Central,NaN,NaN,Central
4,3770,11457850,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037276e+13,0.054233,2017-01-11,NaN,NaN,Single Family Residential,Floor/Wall,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2982479,2982226,13952473,NaN,NaN,NaN,4.0,5.0,NaN,NaN,4.0,...,6.059089e+13,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN,NaN
2982480,2982254,14608630,NaN,NaN,NaN,2.5,3.0,NaN,NaN,2.5,...,6.059032e+13,NaN,NaN,NaN,NaN,Condominium,NaN,NaN,NaN,NaN
2982481,2982275,14367624,NaN,NaN,NaN,2.5,3.0,NaN,NaN,2.5,...,NaN,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN,NaN
2982482,2982276,14675114,NaN,NaN,NaN,3.0,3.0,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,Condominium,NaN,NaN,NaN,NaN
2982483,2982282,12385768,1.0,NaN,NaN,4.0,4.0,NaN,8.0,4.0,...,NaN,NaN,NaN,NaN,NaN,Single Family Residential,Central,NaN,NaN,Central

### Summary Statistics

In [9]:
# Df information summary
zillow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2982484 entries, 0 to 2982483
Data columns (total 68 columns):
 #   Column                         Dtype
---  ------                         -----
 0   id                             int64
 1   parcel_id                      int64
 2   air_cond_id                    float64
 3   architect_style_id             float64
 4   basement_sqft                  float64
 5   bath_count                     float64
 6   bed_count                      float64
 7   building_class_id              float64
 8   building_quality_id            float64
 9   calc_bath_n_bed                float64
 10  deck_id                        float64
 11  finished_floor_1_sqft          float64
 12  calc_finished_sqft             float64
 13  finished_sqft_12               float64
 14  finished_sqft_13               float64
 15  finished_sqft_15               float64
 16  finished_sqft_50               float64
 17  finished_sqft_6                float64
 18  fips                           float64
 19  fireplace_count                float64
 20  full_bath_count                float64
 21  garage_car_count               float64
 22  garage_total_sqft              float64
 23  has_hot_tub_or_spa             float64
 24  heating_or_system_id           float64
 25  latitude                       float64
 26  longitude                      float64
 27  lot_size_sqft                  float64
 28  pool_count                     float64
 29  pool_size_sum                  float64
 30  pool_id_10                     float64
 31  pool_id_2                      float64
 32  pool_id_7                      float64
 33  property_county_land_use_code  object
 34  property_land_use_id           float64
 35  property_zoning_desc           object
 36  raw_census_tract_and_block     float64
 37  region_id_city                 float64
 38  region_id_county               float64
 39  region_id_neighborhood         float64
 40  region_id_zip                  float64
 41  room_count                     float64
 42  story_id                       float64
 43  three_quarter_bath_n_br        float64
 44  construction_id                float64
 45  unit_count                     float64
 46  yard_bldg_sqft_17              float64
 47  yar_bldg_sqft_26               float64
 48  year_built                     float64
 49  num_stories                    float64
 50  fire_place_flag                float64
 51  structure_tax_value            float64
 52  tax_value                      float64
 53  assessment_year                float64
 54  land_tax_value                 float64
 55  tax_amount                     float64
 56  tax_delinquency_flag           object
 57  tax_delinquency_year           float64
 58  census_tract_and_block         float64
 59  log_error                      float64
 60  transaction_date               object
 61  construction_desc              object
 62  story_desc                     object
 63  property_land_use_desc         object
 64  heating_or_system_desc         object
 65  bldg_class_desc                object
 66  architect_style_desc           object
 67  air_con_desc                   object
dtypes: float64(55), int64(2), object(11)
memory usage: 1.5+ GB

In [10]:
# Describe shape
zillow.describe()

,id,parcel_id,air_cond_id,architect_style_id,basement_sqft,bath_count,bed_count,building_class_id,building_quality_id,calc_bath_n_bed,...,num_stories,fire_place_flag,structure_tax_value,tax_value,assessment_year,land_tax_value,tax_amount,tax_delinquency_year,census_tract_and_block,log_error
count,2.982484e+06,2.982484e+06,815416.000000,6062.000000,1627.000000,2.982459e+06,2.982471e+06,12731.000000,1.941533e+06,2.868253e+06,...,685715.000000,5163.0,2.938949e+06,2.951150e+06,2.982483e+06,2.925490e+06,2.962664e+06,56531.000000,2.910428e+06,77580.000000
mean,1.491149e+06,1.332492e+07,1.945676,7.202573,647.220652,2.216185e+00,3.093352e+00,3.734742,6.280818e+00,2.303814e+00,...,1.400946,1.0,1.781427e+05,4.435314e+05,2.015998e+03,2.684594e+05,5.408999e+03,13.891794,6.048434e+13,0.016800
std,8.609133e+05,7.897338e+06,3.160435,2.436091,538.787104,1.078245e+00,1.271593e+00,0.500371,1.729923e+00,1.003240e+00,...,0.539055,0.0,4.600430e+05,8.163342e+05,6.039748e-02,4.865137e+05,9.675569e+03,2.561900,3.249067e+11,0.170739
min,0.000000e+00,1.071172e+07,1.000000,2.000000,20.000000,0.000000e+00,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,...,1.000000,1.0,1.000000e+00,1.000000e+00,2.000000e+03,1.000000e+00,2.400000e-01,0.000000,-1.000000e+00,-4.655420
25%,7.455728e+05,1.164345e+07,1.000000,7.000000,272.000000,2.000000e+00,2.000000e+00,3.000000,5.000000e+00,2.000000e+00,...,1.000000,1.0,7.766500e+04,1.882150e+05,2.016000e+03,7.970000e+04,2.468540e+03,14.000000,6.037400e+13,-0.024310
50%,1.491154e+06,1.254523e+07,1.000000,7.000000,535.000000,2.000000e+00,3.000000e+00,4.000000,6.000000e+00,2.000000e+00,...,1.000000,1.0,1.270620e+05,3.211610e+05,2.016000e+03,1.766190e+05,4.007600e+03,14.000000,6.037572e+13,0.006675
75%,2.236719e+06,1.409804e+07,1.000000,7.000000,847.500000,3.000000e+00,4.000000e+00,4.000000,8.000000e+00,3.000000e+00,...,2.000000,1.0,2.040000e+05,5.140720e+05,2.016000e+03,3.261048e+05,6.230480e+03,15.000000,6.059042e+13,0.039291
max,2.982284e+06,1.696019e+08,13.000000,27.000000,8516.000000,3.200000e+01,2.500000e+01,5.000000,1.200000e+01,3.200000e+01,...,41.000000,1.0,2.553212e+08,3.196225e+08,2.016000e+03,9.401108e+07,3.823176e+06,99.000000,4.830301e+14,5.262999

In [11]:
# Check df shape
zillow.shape

(2982484, 68)

In [12]:
# Columns null count
zillow.columns.value_counts().isna()

id                               False
three_quarter_bath_n_br          False
num_stories                      False
year_built                       False
yar_bldg_sqft_26                 False
yard_bldg_sqft_17                False
unit_count                       False
construction_id                  False
story_id                         False
parcel_id                        False
room_count                       False
region_id_zip                    False
region_id_neighborhood           False
region_id_county                 False
region_id_city                   False
raw_census_tract_and_block       False
fire_place_flag                  False
structure_tax_value              False
tax_value                        False
assessment_year                  False
land_tax_value                   False
tax_amount                       False
tax_delinquency_flag             False
tax_delinquency_year             False
census_tract_and_block           False
log_error                        False
transaction_date                 False
construction_desc                False
story_desc                       False
property_land_use_desc           False
heating_or_system_desc           False
bldg_class_desc                  False
architect_style_desc             False
property_zoning_desc             False
property_land_use_id             False
property_county_land_use_code    False
finished_sqft_50                 False
air_cond_id                      False
architect_style_id               False
basement_sqft                    False
bath_count                       False
bed_count                        False
building_class_id                False
building_quality_id              False
calc_bath_n_bed                  False
deck_id                          False
finished_floor_1_sqft            False
calc_finished_sqft               False
finished_sqft_12                 False
finished_sqft_13                 False
finished_sqft_15                 False
finished_sqft_6                  False
pool_id_7                        False
fips                             False
fireplace_count                  False
full_bath_count                  False
garage_car_count                 False
garage_total_sqft                False
has_hot_tub_or_spa               False
heating_or_system_id             False
latitude                         False
longitude                        False
lot_size_sqft                    False
pool_count                       False
pool_size_sum                    False
pool_id_10                       False
pool_id_2                        False
air_con_desc                     False
dtype: bool

## (3). Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [13]:
zillow_count_and_percent_nulls = missing_rows_count_percentage(zillow)

zillow_count_and_percent_nulls

                               row_count   row_percent
id                                     0  0.000000e+00
parcel_id                              0  0.000000e+00
air_cond_id                      2167068  7.265984e-01
architect_style_id               2976422  9.979675e-01
basement_sqft                    2980857  9.994545e-01
bath_count                            25  8.382275e-06
bed_count                             13  4.358783e-06
building_class_id                2969753  9.957314e-01
building_quality_id              1040951  3.490215e-01
calc_bath_n_bed                   114231  3.830062e-02
deck_id                          2965105  9.941730e-01
finished_floor_1_sqft            2778712  9.316771e-01
calc_finished_sqft                 42170  1.413922e-02
finished_sqft_12                  261523  8.768630e-02
finished_sqft_13                 2974812  9.974276e-01
finished_sqft_15                 2792281  9.362266e-01
finished_sqft_50                 2778712  9.316771e-01
finished_sqft_6                  2961002  9.927973e-01
fips                                   0  0.000000e+00
fireplace_count                  2669347  8.950080e-01
full_bath_count                   114231  3.830062e-02
garage_car_count                 2091430  7.012376e-01
garage_total_sqft                2091430  7.012376e-01
has_hot_tub_or_spa               2932421  9.832143e-01
heating_or_system_id             1113188  3.732419e-01
latitude                               0  0.000000e+00
longitude                              0  0.000000e+00
lot_size_sqft                     269793  9.045916e-02
pool_count                       2442815  8.190538e-01
pool_size_sum                    2954524  9.906253e-01
pool_id_10                       2965477  9.942977e-01
pool_id_2                        2949428  9.889166e-01
pool_id_7                        2476552  8.303656e-01
property_county_land_use_code         67  2.246450e-05
property_land_use_id                   0  0.000000e+00
property_zoning_desc              999867  3.352464e-01
raw_census_tract_and_block             0  0.000000e+00
region_id_city                     59197  1.984822e-02
region_id_county                       0  0.000000e+00
region_id_neighborhood           1825659  6.121270e-01
region_id_zip                       9782  3.279816e-03
room_count                            37  1.240577e-05
story_id                         2980861  9.994558e-01
three_quarter_bath_n_br          2666117  8.939250e-01
construction_id                  2975737  9.977378e-01
unit_count                       1001301  3.357272e-01
yard_bldg_sqft_17                2900891  9.726426e-01
yar_bldg_sqft_26                 2979838  9.991128e-01
year_built                         44908  1.505725e-02
num_stories                      2296769  7.700859e-01
fire_place_flag                  2977321  9.982689e-01
structure_tax_value                43535  1.459689e-02
tax_value                          31334  1.050601e-02
assessment_year                        1  3.352910e-07
land_tax_value                     56994  1.910957e-02
tax_amount                         19820  6.645467e-03
tax_delinquency_flag             2925955  9.810463e-01
tax_delinquency_year             2925953  9.810457e-01
census_tract_and_block             72056  2.415973e-02
log_error                        2904904  9.739881e-01
transaction_date                 2904904  9.739881e-01
construction_desc                2975737  9.977378e-01
story_desc                       2980861  9.994558e-01
property_land_use_desc                 0  0.000000e+00
heating_or_system_desc           1113188  3.732419e-01
bldg_class_desc                  2969753  9.957314e-01
architect_style_desc             2976422  9.979675e-01
air_con_desc                     2167068  7.265984e-01

## Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [14]:
zillow_cols_missing = zillow_missing_columns_rows_percent_cols(zillow)
zillow_cols_missing

n_missing_cols  percent_missing_cols
23              0.338235                     2
24              0.352941                    19
25              0.367647                    83
26              0.382353                   486
27              0.397059                  1227
28              0.411765                  2123
29              0.426471                 11617
30              0.441176                 15849
31              0.455882                159172
32              0.470588                120625
33              0.485294                332648
34              0.500000                443770
35              0.514706                571403
36              0.529412                600868
37              0.544118                227838
38              0.558824                235408
39              0.573529                108488
40              0.588235                 52925
41              0.602941                  9826
42              0.617647                 10646
43              0.632353                  2316
44              0.647059                  2261
45              0.661765                  4697
46              0.676471                  4728
47              0.691176                 15943
48              0.705882                 34524
49              0.720588                  8795
50              0.735294                  2609
51              0.750000                  1265
52              0.764706                   275
53              0.779412                    40
54              0.794118                     6
55              0.808824                     2
dtype: int64

## Prepare

### (1). Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [15]:
zillow.head()

,id,parcel_id,air_cond_id,architect_style_id,basement_sqft,bath_count,bed_count,building_class_id,building_quality_id,calc_bath_n_bed,...,census_tract_and_block,log_error,transaction_date,construction_desc,story_desc,property_land_use_desc,heating_or_system_desc,bldg_class_desc,architect_style_desc,air_con_desc
0,787,17173851,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,6.111004e+13,0.088469,2017-01-03,NaN,NaN,Single Family Residential,NaN,NaN,NaN,NaN
1,1702,10821119,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,6.037131e+13,0.025629,2017-01-03,NaN,NaN,Single Family Residential,Central,NaN,NaN,NaN
2,1853,10859051,1.0,NaN,NaN,3.0,2.0,NaN,7.0,3.0,...,6.037141e+13,0.026735,2017-01-03,NaN,NaN,Condominium,Central,NaN,NaN,Central
3,2412,11007640,1.0,NaN,NaN,2.0,3.0,NaN,8.0,2.0,...,6.037106e+13,0.020360,2017-01-12,NaN,NaN,Single Family Residential,Central,NaN,NaN,Central
4,3770,11457850,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037276e+13,0.054233,2017-01-11,NaN,NaN,Single Family Residential,Floor/Wall,NaN,NaN,NaN

In [19]:
# Create DF with only single family properties

zillow_sinlge_family = single_family_properties()
zillow_sinlge_family.head()

Status: Acquiring data from cached csv file..

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,typeconstructiondesc,storydesc,propertylandusedesc,heatingorsystemdesc,buildingclassdesc,architecturalstyledesc,airconditioningdesc
0,787,17173851,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,6.111004e+13,0.088469,2017-01-03,NaN,NaN,Single Family Residential,NaN,NaN,NaN,NaN
1,1702,10821119,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,6.037131e+13,0.025629,2017-01-03,NaN,NaN,Single Family Residential,Central,NaN,NaN,NaN
3,2412,11007640,1.0,NaN,NaN,2.0,3.0,NaN,8.0,2.0,...,6.037106e+13,0.020360,2017-01-12,NaN,NaN,Single Family Residential,Central,NaN,NaN,Central
4,3770,11457850,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037276e+13,0.054233,2017-01-11,NaN,NaN,Single Family Residential,Floor/Wall,NaN,NaN,NaN
5,8197,12591550,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037544e+13,-0.016170,2017-01-13,NaN,NaN,Single Family Residential,Central,NaN,NaN,NaN

### (2). Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

#### The input:
- A dataframe
 - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
 - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
 - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
- hint:
 - Look up the dropna documentation.
 - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
 - Make use of inplace, i.e. inplace=True/False.

### Call the function

In [8]:
df_removed_missing_values = handle_missing_values(zillow)

Enter % of cols to drop: 0.70
Enter % of rows to drop: 0.75

### Review new dataframe

In [11]:
df_removed_missing_values.head()

,id,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,...,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,propertylandusedesc
0,787,17173851,2.0,4.0,2.0,1848.0,1848.0,6111.0,2.0,34153345.0,...,97109.0,6.0,1952.0,47193.0,64712.0,2016.0,17519.0,781.00,6.111004e+13,Single Family Residential
1,1702,10821119,2.0,2.0,2.0,1430.0,1430.0,6037.0,2.0,34217763.0,...,96415.0,0.0,1952.0,107511.0,381638.0,2016.0,274127.0,4692.27,6.037131e+13,Single Family Residential
2,1853,10859051,3.0,2.0,3.0,1347.0,1347.0,6037.0,3.0,34148500.0,...,96424.0,0.0,1974.0,120715.0,177899.0,2016.0,57184.0,2236.15,6.037141e+13,Condominium
3,2412,11007640,2.0,3.0,2.0,1572.0,1572.0,6037.0,2.0,34326995.0,...,96368.0,0.0,1976.0,144802.0,305307.0,2016.0,160505.0,3887.80,6.037106e+13,Single Family Residential
4,3770,11457850,2.0,3.0,2.0,1412.0,1412.0,6037.0,2.0,33962085.0,...,96026.0,0.0,1941.0,38700.0,93146.0,2016.0,54446.0,1246.18,6.037276e+13,Single Family Residential

### New DF Shape

In [10]:
df_removed_missing_values.shape

(2904626, 27)